.profile{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  margin: 0 0 50px 0;
}
@media (max-width:620px){
  .profile{
    flex-direction: column;
  }
}