.popup__button{
  background-color: black;
  width: 358px;
  color: white;
  border: none;
  height: 50px;
  margin: 0 auto 25px auto;
  border-radius: 1%;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  box-sizing: border-box;
}
.popup__button:hover{
  opacity: 0.8;
  cursor: pointer;
}
@media (max-width:700px){
  .popup__button{
    font-size: 14px;
    line-height: 17px;
    width: 238px;
    height: 46px;
  }
}
