.profile__info-button{
  border: solid 1px white;
  background: url(../../../image/Vector.png) no-repeat center;
  min-width: 18px;
  min-height: 18px;
  transition: 0.3s;
  margin: 0 0 0 18px;
}
.profile__info-button:hover{
  opacity: 50%;
  cursor: pointer;
}
