.element__likes{
  padding: 0;
  min-width: 22px;
  min-height: 18px;
  transition: 0.3s;
  margin: 0 20px 0px 0;
  background: url(../../../image/Vector.svg)  no-repeat ;
  border: none;
}
.element__likes:hover{
  opacity: 0.5;
  cursor: pointer;
}
