.cross{
  transition: 0.3s;
  background: url(../../image/Icon.png) no-repeat center;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -32px;
  right: -32px;
  border: none;
}
.cross:hover{
  opacity: 50%;
  cursor: pointer;
}
@media (max-width:700px){
  .cross{
    right: 0;
    width: 20px;
    height: 20px;
  }
}
